* {
    box-sizing: border-box;
}

.content {
    font-family: Arial, sans-serif;
    color: #646464;
}

.content h1 {
    display: table-cell;
    vertical-align: top;
    max-width: 742px;
    padding: 21px 21px 4px;
    font-size: 29px;
    font-weight: normal;
    background-color: #fff;
}

.form {
    max-width: 742px;
    padding-right: 21px;
    padding-left: 21px;
    font-size: 14px;
    font-weight: lighter;
    background-color: #feeed5;
}

.label {
    padding-top: 17px;
    padding-bottom: 7px;
    font-weight: bold;
}

.first-label {
    padding-top: 16px;
}

.text {
    display: block;
    padding: 9px 12px;
    border: none;
    width: 100%;
}

.comment {
    padding-bottom: 72px;
    max-width: 100%;
}

.description {
    font-weight: lighter;
}

.buttons-block {
    text-align: right;
}

.submit_button {
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 7px 12px;
    white-space: nowrap;
    font-weight: bold;
    color: #fff;
    background-color: #388db2;
    border: 1px solid #4b889d;
}

.submit_button:hover {
    background-color: #2070b0;
    cursor: pointer;
}