* {
    box-sizing: border-box;
}

.content {
    max-width: 742px;
    width: 100%;
    font-family: Arial, serif;
    color: #646464; /* rgb(100, 100, 100) */
}

.clearfix ::after {
    content: "";
    display: block;
    clear: both;
}

.content h1 {
    z-index: 1;
    margin-top: -1px;
    padding: 22px 21px 4px 21px;
    width: 100%;
    font-size: 29px;
    font-weight: normal;
    background-color: #fff; /* rgb(255, 255, 255) */
}

.form {
    padding-left: 21px;
    padding-top: 57px;
    padding-right: 21px;
    font-size: 14px;
    font-weight: lighter;
    background-color: #feeed5; /* rgb(254, 238, 213) */
}

.content h1, .form {
    position: absolute;
}

.label {
    padding-top: 17px;
    padding-bottom: 7px;
    font-weight: bold;
}

.text {
    padding: 9px 12px;
    border: none;
    width: 100%;
}

#comment {
    vertical-align: text-top;
    padding-top: 8px;
    padding-bottom: 72px;
    max-width: 700px;
}

.description {
    font-weight: lighter;
}

.submit_button {
    margin-top: 4px;
    margin-bottom: 12px;
    margin-left: 550px;
    width: 150px;
    height: 32px;
    font-weight: bold;
    color: #fff; /* rgb(255, 255, 255) */
    background-color: #388db2; /* rgb(56, 141, 178) */
    border: 1px solid #4b889d; /* rgb(75, 136, 157) */
}

[type="submit"]:hover {
    background-color: blue;
    cursor: pointer;
}