* {
    box-sizing: border-box;
}

:root {
    font-family: Calibri, serif;
    background-color: rgb(205, 215, 229);
}

.base {
    position: relative;
    max-width: 742px;
    width: 100%;
    height: 520px;
    color: rgb(100, 100, 100);
}

.heading {
    float: left;
    width: 100%;
    height: 11.1538462%;
    background-color: rgb(255, 255, 255);
    padding-top: 2.4%;
    padding-left: 2.7%;
    font-size: 33px;
    font-weight: normal;
}

.form {
    float: left;
    top: 11.1538462%;
    width: 100%;
    height: 88.8461538%;
    font-size: 16px;
    background-color: rgb(254, 238, 213);
}

.label {
    float: left;
    width: 100%;
    height: 8.5%;
    padding-top: 1.8vh;
    padding-left: 2.7%;
    font-weight: bold;
}

.text_cell {
    float: left;
    margin-left: 2.7%;
    width: 94.3396226415094%;
    height: 7.3%;
    border: none;
    padding-left: 1.5%;
    font-weight: lighter;
}

.text_field {
    float: left;
    margin-left: 2.7%;
    width: 94.3396226415094%;
    height: 24%;
    border: none;
    padding-left: 1.5%;
    padding-top: 1.2vh;
    font-weight: lighter;
}

.instruction {
    float: left;
    width: 100%;
    height: 8.5%;
    padding-top: 2.3vh;
    padding-left: 2.7%;
    font-weight: lighter;
}

.submitButton {
    position: absolute;
    right: 2.83018867924528%;
    bottom: 2.6%;
    width: 20.2%;
    height: 6.1538462%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 141, 178);
    border: 1px solid rgb(75, 136, 157);
}