* {
    box-sizing: border-box;
}

.content {
    padding: 1px 14px 5px 13px;
    max-width: 747px;
    font-family: Arial, sans-serif;
    color: #646464; /* rgb(100, 100, 100) */
    background-color: #feeed5; /* rgb(254, 238, 213) */
}

.title {
    margin-top: 9px;
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: normal;
}

.items_list {
    line-height: 16px;
}

.list_item {
    margin-top: 13px;
}

.list_item_name {
    color: #378db2; /* rgb(55, 141, 178) */
    font-size: 17px;
    font-weight: bold;
}

.list_item_value {
    font-weight: normal;
}

.description_block {
    margin-top: 8px;
    margin-bottom: 1px;
    line-height: 23px;
    text-indent: 16px;
    font-size: 15px;
    text-align: justify;
}

.description {
    margin-top: 5px;
    margin-bottom: 5px;
}