* {
    box-sizing: border-box;
}

.table {
    max-width: 860px;
    width: 100%;
    height: 312px;
    background-color: #eeeeee; /* rgb(238, 238, 238) */
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
    text-indent: 5%;
}

.table_head {
    color: #d6f3ff; /* rgb(214, 243, 255) */
    background-color: #3598dc; /* rgb(53, 152, 220) */
    height: 15.7377049180328%;
}

.column_head {
    border: 1px solid #afd7f0; /* rgb(175, 215, 240) */
    position: relative;
}

.column_head div {
    position: absolute;
    left: 4.5%;
    bottom: 18%;
    white-space: nowrap;
}

.column1_name {
    width: 20.3508771929825vw
}

.column2_name {
    width: 20.3508771929825vw
}

.column3_name {
    width: 36.0233918128655vw
}

.column4_name {
    width: 23.2748538011696vw
}

.table_body tr:nth-child(2n) {
    background-color: #ffffff; /* rgb(255, 255, 255) */
}

.table_body td {
    border: 1px solid #cfcfcf; /* rgb(207, 207, 207) */
}