* {
    box-sizing: border-box;
}

.table {
    max-width: 860px;
    width: 100%;
    background-color: #eee;
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
}

.table thead {
    color: #fff;
    background-color: #3598dc;
}

.table th {
    font-weight: normal;
    padding: 12px 10px 8px;
    border: 1px solid #afd7f0;
}

.column_first_name {
    width: 20.35%;
}

.column_last_name {
    width: 20.35%;
}

.column_job_title {
    width: 36.02%;
}

.column_twitter {
    width: 23.27%;
}

.table tbody tr:nth-child(even) {
    background-color: #fff;
}

.table td {
    padding: 13px 10px 11px;
    border: 1px solid #cfcfcf;
}